<h4 align="center">Create advertisement</h4>
<hr />
<dl class="dl-horizontal">
    <dt>Advertisement for:</dt>
    <dd>
        <input type="button" value="Computer" class="btn btn-primary"
               onclick="window.location.href='@Url.Action("AddComputer", "Device")'" />
        <input type="button" value="Laptop" class="btn btn-success"
               onclick="window.location.href='@Url.Action("AddLaptop", "Device")'" />
        <input type="button" value="Display" class="btn btn-info"
               onclick="window.location.href='@Url.Action("AddDisplay", "Device")'" />
    </dd>
</dl>
