<h3 align="center">@ViewData["Title"]</h3>

<address>
    PC store Bitack<br />
    31 Malinov bld, Sofia, Bulgaria<br />
    <abbr title="Phone">Phone:</abbr>
    425.555.0100
    <br />
    <abbr title="Fax">Fax:</abbr>
    525.555.0101
</address>

<iframe width='100%' height='350' frameborder='0' class="img-rounded" style='border:0' src='https://www.google.com/maps/embed/v1/place?q=sofia%20malinov%2031&key=AIzaSyB-3eF82eujpNm2WmHiRf3kdRRAefAloAg'></iframe>
