<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive" src="~/Images/image1.png" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive" src="~/Images/image2.png" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive" src="~/Images/image3.png" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive" src="~/Images/image4.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive" src="~/Images/image5.png" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive" src="~/Images/image6.png" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive" src="~/Images/image7.png" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive" src="~/Images/image8.png" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Central processing unit</h3>
        <p>
            A central processing unit (CPU) is the electronic circuitry within a computer that carries out the instructions of a computer program by performing the basic arithmetic, logical, control and input/output (I/O) operations specified by the instructions...
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Central_processing_unit" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Graphics processing unit</h3>
        <p>A graphics processing unit (GPU) is a specialized electronic circuit designed to rapidly manipulate and alter memory to accelerate the creation of images in a frame buffer intended for output to a display device...</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Graphics_processing_unit" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Random-access memory</h3>
        <p>Random-access memory (RAM) is a form of computer data storage which stores frequently used program instructions to increase the general speed of a system...</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Random-access_memory" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>